.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    display: block;
    padding: 5px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 6px;
    display: flex;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 6px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin-left: 38px;
}
.sub-content {
    height: 200px;
    width: 210px;
    margin: 14px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 660px;
    margin: 15px;
    padding-right: 10px;
    background-color: purple;
}
.row {
    display: flex;
    margin: 6px 0px 6px 0px;
}

